.banner {
  background-color: #305357;
  padding: 60px 0;
  position: relative;
}

/* Picture & introduction */
#profil {
  grid-template-columns: repeat(auto-fit, minmax(205px, 1fr));
  column-gap: 20px;
}

#intro {
  margin: 0 10px;
}


