#btn-resume {
  margin: 30px 0;
}

.btn-light {
  font-weight: 500;
  border: 1px solid #305357;
  border-radius: 4px;   
  padding: 4px 8px;
}

.btn-light:hover {
  box-shadow: 0 2px 2px #579299;
  transition-duration: 0.2s;
}
