.container {
  width: 90%;
  margin: 0 auto;
  padding: 0 20px;
}

@media screen and (max-width: 1200px) {
  /* #presentation h3 {
    padding: 7px 0;
  } */
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  #btn-resume {
    position: absolute;
    left: 460px;
  }   
}

@media screen and (min-width:426px) and (max-width: 768px) {
  #img-banner {
    top: -35px !important;
    left: -100px !important;
    width: 315px !important;
  }
  #btn-resume {
    position: absolute;
    left: 320px;
  }
  #presentation h3 {
    padding-bottom: 30px !important;
  }
  #icone-tech {
    margin: 20px 10px !important;
    padding-bottom: 29px;
  }
  #portfolio {
    margin: 50px 0 30px 0 !important;
  }
  #card-project {
    margin: 30px 0 !important;
  }
  #tablet {
    position: absolute;
    left: 165px;
  }
  #img-footer {
    top: -185px !important;
    width: 205px !important;
  }
}

@media screen and (max-width: 426px) {
  #img-banner {
    top: -30px !important;
    left: -70px !important;
    width: 225px !important;
  }
  #intro {
    text-align: center;
  }
  #profil {
    justify-items: center;
  }
  #icone-tech {
    margin: 5px 10px !important;
  }
  #icone-tech i {
    font-size: 45px !important;
  }
  .slideshow-container {
    margin: 0 !important;
  }
  #portfolio {
    padding: 20px 10px !important;
  }
  #card-project {
    margin: 30px 0 !important;
  }
  .card-screenshot {
    margin: 0 !important;
  }
  #img-footer {
    top: -110px !important;
    width: 130px !important;
  }
}
