.container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

/* Responsive design */
/* Laptop 4K */
@media screen and (min-width: 1440px) {
  #img-banner {  
    top: -35px !important;
    left: -50px !important;
    width: 540px !important;
  }
  .icone-medias {
    font-size: 45px !important;
    padding: 20px !important;
  }
  #profil {
    flex-grow: 2;
  }
  #img-profil {
    width: 350px !important;
  }
  h1 {
    font-size: 80px !important;
  }
  h2,h3 {
    font-size: 30px !important;
  }
}

 /* Laptop L */
@media screen and (min-width: 1024px) and (max-width: 1440px) {
  #img-banner {  
    top: -25px !important;
    left: -50px !important;
    width: 350px !important;
  }
  #profil {
    flex-grow: 2;
  }
  h1 {
    font-size: 58px !important;
  }
}

 /* Laptop 1024px */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  #presentation {
    min-height: 100vh !important;
  }
  #btn-resume {
    position: absolute;
    left: 460px;
  }   
  #portfolio {
    margin: 85px 0 30px 0 !important;
  }
}

 /* Tablet */
@media screen and (min-width:426px) and (max-width: 768px) {
  #img-banner {
    top: -35px !important;
    left: -100px !important;
    width: 315px !important;
  }
  #avatar {
    text-align: center;
  }
  #intro {
    text-align: center;
  }
  h1 {
    font-size: 42px !important;
  }
  #btn-resume {
    position: absolute;
    left: 320px;
  }
  #presentation h3 {
    padding-bottom: 30px !important;
  }
  #icone-tech {
    margin: 20px 10px !important;
    padding-bottom: 29px;
  }
  #portfolio {
    margin: 95px 0 30px 0 !important;
  }
  #card-project {
    margin: 30px 0 !important;
  }
  #tablet {
    position: absolute;
    left: 165px;
  }
  #btn-mobile-display {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #img-footer {
    top: -158px !important;
    width: 205px !important;
  }
}

 /* Mobile */
@media screen and (max-width: 426px) {
  #img-banner {
    top: -30px !important;
    left: -70px !important;
    width: 225px !important;
  }
  #intro {
    text-align: center;
  }
  h1 {
    font-size: 42px !important;
    margin-top: 20px !important;
  }
  #img-profil {
    width: 180px !important;
  }
  .arrow-container {
    width: 20px !important;
  }
   .scroll-down {
  height: 40px !important;
  width: 25px !important;
  }
  #profil {
    justify-items: center;
  }
  #icone-tech {
    margin: 5px 10px !important;
  }
  #icone-tech i {
    font-size: 45px !important;
  }
  .slideshow-container {
    margin: 0 !important;
  }
  #portfolio {
    padding: 20px 10px !important;
    margin-top: 60px !important;
  }
  #btn-mobile-display {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #card-project {
    margin: 30px 0 !important;
  }
  .card-screenshot {
    margin: 0 !important;
  }
  #img-footer {
    top: -97px !important;
    width: 143px !important;
  }
}
