i {
  font-size: 50px;
}

/* icone bar medias */
#icone-bar {
  top: 15px;
  right: 10px;
  width: fit-content;
}

.icone-medias {
  color: white;
  font-size: 25px;
  padding: 0 10px;
}

.icone-medias:hover {
  color:#579299;
}

/* icone tech stack */
#icone-tech {
  margin: 15px 40px;
}

.icone-project {
  color: #579299;
  font-size: 20px;
  margin: 0 8px;
}  

.icone-shadow {
  text-shadow: 0 0 2px white, 0 0 0.1em #579299, 0 0 0.2em #579299;
  transition: 0.5s ease-out;
}

.no-shadow {
  text-shadow: 1px 1px 2px white, 0 0 0.1em white, 0 0 0.2em white;
  transition: 1s ease-out;
}