.icone-contact {
  color: white;
  font-size: 25px;
  padding: 0px 10px;
}

.icone-contact:hover {
  color:#579299;
}

.icone-tech {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px 40px;
}

.icone-project {
  color: #579299;
  font-size: 20px;
  margin: 0px 8px;
}  
