/*  leaf banner */
/* #img-banner {
  top: -35px;
  left: -65px;
  width: 300px;
} */

/* picture profil */
/* #img-profil {
  border-radius: 10px;
  width: 200px;
} */

/* leaf footer*/
#img-footer {
  width: 230px;
  position: absolute; 
  top: -185px;
  right: 0;
}