@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://css.gg/mail.css');
@import url('https://cdn.jsdelivr.net/gh/devicons/devicon@v2.14.0/devicon.min.css');

body {
  background-color: white;
  color: rgb(40, 40,40);
  font-family: open Sans;
  font-size: 16px;
  font-weight: lighter;
}

h1, h2, a, i {
  color: #305357;
 }

h1 {
  font-family: allura;
  font-size: 56px;
  font-weight: 900;
 }

h2, h3 {
  font-family: vollkorn;
}

h2 {
  font-size: 32px;
  font-weight: bolder;
}

h3 {
  font-size: 24px;
  font-weight: lighter ;
}

a {
  text-decoration: none;
  font-weight: normal;
  background-color: transparent;
}

a:hover {
  color:#579299;
  font-weight: bolder;
}

i {
  font-size: 50px;
}

.main-container {
  width: 800px;
  margin: 0 auto;
}

.img-rounded {
  border-radius: 10px;
}

.btn-light {
  font-weight: 500;
  border: 1px solid #305357;
  border-radius: 4px;   
  padding: 4px 8px;
}

.btn-light:hover {
  box-shadow: 0px 2px 2px #579299;
  border: 1px solid #305357;
  transition-duration: 0.2s;
}

.small-icone {
  font-size: 16px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline li {
  display: inline-block;
  padding: 0px 16px; 
}

.text-justify {
  text-align: justify;
}

.text-center {
  text-align: center;
}

#project-icone {
  color: #579299;
}