/* Icons */
@import url('https://cdn.jsdelivr.net/gh/devicons/devicon@v2.14.0/devicon.min.css');

/* Fonts & colors */
body {
  font-family: $font-family-main;
  font-size: $font-size-default;
  color: $grey;
}

h1 {
  font-family: $font-family-main;
  font-size: 24px;
  font-weight: lighter;
  color: $white
}

h2 {
  font-family: $font-family-title;
  font-size: 56px;      
  color: $white;
  margin: 30px 0 20px 0;
}

h3 {
  font-family: $font-family-main;
  font-size: 24px;
  color: $white;
}

strong {
  font-weight: lighter;
}
// h2, h3, a, i {
//   color: #305357;
// }

body, h2, h3 {
  font-weight: lighter;
}

h2, a:hover {
  font-weight: bolder;
}

a {
  text-decoration: none;
  font-weight: normal;
  background-color: transparent;
}

a:hover {
  color:#579299;
}
