/* Icons */
@import url('https://cdn.jsdelivr.net/gh/devicons/devicon@v2.14.0/devicon.min.css');

/* Fonts & colors */
html {
  scroll-behavior: smooth;
}

body {
  font-family: $mainFont;
  font-size: $defaultFontSize;
  font-weight: 500;
  color: $grey;
}

h1 {
  font-family: $mainFont;
  font-size: 24px;
  font-weight: lighter;
  color: $white
}

h2 {
  font-family: $handFont;
  font-size: 56px;      
  color: $white;
  margin: 30px 0 20px 0;
}

h3 {
  font-family: $mainFont;
  font-size: 24px;
  color: $white;
}

a {
  text-decoration: none;
}