/* Fonts */
$font-size-default: 16px;
$font-family-title: 'Allura', sans-serif;
$font-family-main: 'Raleway', sans-serif;
 
/* Colors */
$white: #ffffff;
$beige: #DDC6A4;
$taupe: #B0836D;
$grey: #545454;
$green: #305357;

/* Breakpoints */
$verysmall-screen: 420px;
$small-screen: 800px;
$large-screen: 1025px; 
$xl-screen: 1145px; 

