/* Fonts */

$font-size-default: 16px;
$font-family-title: 'Allura', sans-serif;
$font-family-main: 'Raleway', sans-serif;
 
/* Colors */

$primary-color: #ffffff;
$secondary-color: #DDC6A4;
$ternary-color: #545454;

/* Breakpoints */
$verysmall-screen: 420px;
$small-screen: 800px;
$large-screen: 1025px; 
$xl-screen: 1145px; 

