/* Google Fonts & Devicons */
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://cdn.jsdelivr.net/gh/devicons/devicon@v2.14.0/devicon.min.css');

/* Components design */
@import url('components/avatar.css');
@import url('components/banner.css');
@import url('components/button.css');
@import url('components/card.css');
@import url('components/container.css');
@import url('components/footer.css');
@import url('components/icone.css');
@import url('components/image.css');
@import url('components/separator.css');
@import url('components/slideshow.css');

/* Fonts & colors */
html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
  color: rgb(40, 40,40);
  font-family: open Sans;
  font-size: 16px;
  font-weight: lighter;
  margin: 0px;
}

#hello p, h1, h3 {
  font-family: allura;
}

h2, h3, a, i {
  color: #305357;
 }

#hello p {
  color: white;
  font-size: 80px;
  font-weight: 500;
  margin-top: 0px;
  margin-bottom: 0px;
 }

h1, #hello h2 {
  color: white;
  font-family: open Sans;
  font-size: 16px;
  font-weight: lighter;
  margin: 0px;
  }

#hello p span {
  position: relative;
}

/* #hello {
  position: absolute;
} */

#hello h1 strong, #hello h2 strong {
  font-weight: lighter;
}

h2 {
  font-family: vollkorn;
  font-size: 40px;
  font-weight: bolder;
}

h3 {
  font-size: 32px;
  font-weight: lighter ;
}

a {
  text-decoration: none;
  font-weight: normal;
  background-color: transparent;
}

a:hover {
  color:#579299;
  font-weight: bolder;
}

i {
  font-size: 50px;
}

.list-inline {
  list-style: none;
  padding: 0px;
}

.list-inline li {
  display: inline-block;
}

.text-justify {
  text-align: justify;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.relative {
  position: relative;
}

.display {
  display: flex;
} 

.justify-content-center {
  justify-content: center;
}

.space-around {
  justify-content: space-around;
}

.align-item-center {
  align-items: center;
}
