footer {
  position: relative;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;

  #footer__leaf{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 230px;
    @include respond-to(small-screen) {
      width: 150px;
    }
  }

  #footer__content__up {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    #footer__content__up--animation {
      padding-left: 5px;
    }
  }

  #footer__content__down {
    display: flex;
    justify-content: center;
    img {
      width: 25px;
      padding-left: 5px;
    }
  }
}
