/* Profil */
.card-profil {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-profil div {
  margin-left: 20px;
}

.card-profil p {
  color: white;
  margin-top: 0px;
}

/* Project */
.card-project {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.card-project img {
  width: auto;
  height: 300px;
}

.card-project div {
  flex-grow: 1;
}

.card-pitch {
  margin-left: 30px;
}

.card-pitch h3 {
  margin-top: 0px;
}

/* .list-inline li {
  padding: 0px 8px; 
} */