/* Profil */
.card-profil {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  align-items: center;
  column-gap: 20px;
}

.card-profil p {
  color: white;
  margin-top: 0px;
}

/* Presentation */
.card-presentation {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 20p;
}

.card-presentation h2{
  text-align: center;
}

.card-stack {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Portfolio */
.card-portfolio h2 {
  font-size: 40px;
}

.card-portfolio {
  padding-bottom: 20px;
}

/* Project */
.card-project {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0px;
}

.card-project img {
  width: auto;
  height: 250px;
}

.card-project div {
  flex-grow: 1;
}

/* Pitch */
.card-pitch {
  margin-left: 30px;
}

.card-pitch h3 {
  margin-top: 0px;
  margin-bottom: 15px;
  font-weight: bold;
}

