/* Profil */
.card-profil {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-profil div {
  margin-left: 20px;
}

.card-profil p {
  color: white;
  margin-top: 0px;
}

/* Stack */
.card-stack h3 {
  font-size: 32px;
}

/* Project */
.card-project {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-pitch {
  margin-left: 15px;
}
