.container {
  display: block;
  width: 80vw;
  margin: 0 auto;
  padding: 0px 20px;
  scroll-behavior: smooth
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  .container {
    width: 300px;
  }
  #img-banner {
    position: absolute;
    top: -60px;
    left: -105px;
    width: 300px;
  }
  #hello {
    text-align: center;
  }
  .card-profil {
    justify-items: center;
  }
  #img-footer {
    top: -110px !important;
    width: 180px !important;
  }
  i {
    font-size: 35px;
  }
}
