.footer {
  position: relative;
}

.separator-footer {
  box-sizing: border-box;
  background-color: rgb(86, 146, 153,0.2);
  height: 1px;
  width: 800px; 
  margin: 0 auto;
}

.text-footer {
  padding: 10px 0px;
}

#img-footer {
  position: absolute; 
  top: -240px;
  right: 0px;
  width: 300px;
}


